body {
  font-family: Roboto;
}

.header {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgb(228, 228, 228);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.left-section {
  display: flex;
  align-items: center;
}

.header-photo {
  height: 85px;
  width: 85px;
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius:45px;
}

#header-first {
  font-size: 35px;
  font-weight: bold;
  color: darkblue;
  margin-left: 10px;
}

#header-second {
  font-size: 35px;
  font-weight: bold;
  color: Black;
  margin-right: 25px;
  margin-left: 3px;
}

.right-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}



.home-button {
  background-color: rgb(200, 0, 0);
  color: white;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 25px;
  margin-left: 15px;
  transition: opacity 0.15s;
  vertical-align: top;
 }

.home-button:hover {
  opacity: 0.7;
 }

.home-button:active {
  opacity: 0.5;
 }


.cv-button {
  background-color: white;
  border-color: rgb(6, 95, 212);
  border-style: solid;
  border-width: 1px;
  color: rgb(6, 95, 212);
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.15s;
  transition: color 0.15s;
 }

.cv-button:hover {
   background-color: rgb(6, 95, 212);
   color: white;
 }

.cv-button:active {
  opacity: 0.7;
 }


.contact-button {
  background-color: rgb(29, 155, 240);
  color: white;
  border: none;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 18px;
  margin-left: 25px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: box-shadow 0.15s;
  vertical-align: top;
 }

 .contact-button:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
 }

 .main-section {
   margin-left: 50%;
   margin-right: 50%;
   margin-top: 110px;
   display: grid;
   grid-template-columns: 600px 600px;
   grid-column-gap: 20px;
   padding-top: 5px;
   padding-bottom: 5px;
   padding-left: 5px;
   padding-right: 5px;
   justify-content: center;
 }

.main-image {
  width: 600px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #1E90FF;
}

.main-text {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #1E90FF;
}

 .index-photo {
   display: block;
   margin: auto;
   height: 350px;
   width: 450px;
   padding-top: 5px;
   padding-bottom: 5px;
   padding-left: 5px;
   padding-right: 5px;
 }

 h1 {
   color: darkblue;
   text-align: center;
 }

 .index-text {
   font-size: 25px;
   padding-top: 5px;
   padding-bottom: 5px;
   padding-left: 5px;
   padding-right: 5px;
 }

 .footer {
   position: fixed;
   bottom: 0px;
   border-top-style: solid;
   border-width: 2px;
   padding-top: 5px;
   padding-bottom: 5px;
   padding-left: 5px;
   padding-right: 5px;

 }

 .footer-text {
   font-style: italic;
 }

 .formulier {
   margin-top: 110px;
   padding-top: 5px;
   padding-bottom: 5px;
   padding-left: 5px;
   padding-right: 5px;
   background-color: #F5F5F5;


 }

 legend {
  font-size: 25px;
  color: rgb(56, 56, 170);
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;

}

.field-data {
  width: 800px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: auto;
  margin-right: auto;
}



.table-all {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}


.verzendknop {
  background-color: darkblue;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 7px;
  border-color: rgb(56, 56, 170);
  margin-left: 380px;

}

.verzendknop:hover {
  background-color: white;
  color: lightskyblue;
  cursor: pointer;
}

.cv-section {
  margin-top: 110px;
  display: block;
  margin-left: 0;
  margin-right: 0;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.td-cv, .tr-cv, .th-cv {
  border-style: solid;
  border-color: Black;
  border-width: 1px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  justify-content: center;

}

.field-cv {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.table-cv {
  margin-left: auto;
  margin-right: auto;
  border-spacing: 0px;
  border-collapse: collapse;
  width: 800px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
